a, a:visited {
    color: #e67230;
}
a:hover {
    color: #993801;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn.searchsubmit,
.reply,
.tags span {
	border: 1px solid #d35f1d;
    -webkit-box-shadow: 0 1px 0 rgba(230, 114, 48, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 0 rgba(230, 114, 48, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background: #ed7b39; /* Old browsers */
    background: -moz-linear-gradient(top, #ed7b39 0%, #df5e14 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed7b39), color-stop(100%,#df5e14)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ed7b39 0%,#df5e14 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ed7b39 0%,#df5e14 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ed7b39 0%,#df5e14 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ed7b39 0%,#df5e14 100%); /* W3C */
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.btn.searchsubmit:hover,
.reply:hover {
    background: #df5e14; /* Old browsers */
    background: -moz-linear-gradient(top, #df5e14 0%, #ed7b39 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df5e14), color-stop(100%,#ed7b39)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #df5e14 0%,#ed7b39 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #df5e14 0%,#ed7b39 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #df5e14 0%,#ed7b39 100%); /* IE10+ */
    background: linear-gradient(to bottom, #df5e14 0%,#ed7b39 100%); /* W3C */
}
.post-author-meta .nav-tabs > li.active > a,
.post-author-meta .nav-tabs > li.active > a:hover,
.post-author-meta .nav-tabs > li.active > a:focus,
.post-author-meta .nav-tabs .active a,
.nav.recent-posts-tabs .active,
.nav.recent-posts-tabs li a:focus {
    -webkit-box-shadow: 0 1px 0 rgba(230, 114, 48, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 0 rgba(230, 114, 48, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background: #ed7b39; /* Old browsers */
    background: -moz-linear-gradient(top,  #ed7b39 0%, #df5e14 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed7b39), color-stop(100%,#df5e14)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ed7b39 0%,#df5e14 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ed7b39 0%,#df5e14 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ed7b39 0%,#df5e14 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ed7b39 0%,#df5e14 100%); /* W3C */

}
.post-format-icon {
	color: #E67230;
}
.phgal-carousel .slides .flex-active-slide {
    border-color: #E67230;
}
.post-author-meta .nav.nav-tabs .active a {
    background: #ed7b39; /* Old browsers */
    background: -moz-linear-gradient(top,  #ed7b39 0%, #df5e14 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed7b39), color-stop(100%,#df5e14)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ed7b39 0%,#df5e14 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ed7b39 0%,#df5e14 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ed7b39 0%,#df5e14 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ed7b39 0%,#df5e14 100%); /* W3C */
}
#footer-copy {
    border-top: 2px solid #E67230;
}
.widgettitle {
	color: #F48A55;
}
.f-widgettitle > span {
    border-bottom: 1px solid #eb6b22;
}
.social-profiles li:hover,
#wp-calendar thead tr,
.mejs-container,
.mejs-embed, .mejs-embed body,
.mejs-container .mejs-controls,
#mainmenu .dropdown-menu > .active > a:hover,
#mainmenu .dropdown-menu > .active > a:focus,
#mainmenu .dropdown-menu > li > a:hover,
#mainmenu .dropdown-menu > li > a:focus {
    background: #e67230 !important;
}
/* Nav */
#mainmenu .navbar-default .navbar-nav > li > a:hover,
#mainmenu .navbar-default .navbar-nav > li > a:focus,
#mainmenu .navbar-nav .active a {
    color: #FFF;
    border-color: #C85412;
    background: #ed7b39; /* Old browsers */
    background: -moz-linear-gradient(top, #ed7b39 0%, #df5e14 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed7b39), color-stop(100%,#df5e14)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ed7b39 0%,#df5e14 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ed7b39 0%,#df5e14 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ed7b39 0%,#df5e14 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ed7b39 0%,#df5e14 100%); /* W3C */
}
#mainmenu .open > .dropdown-menu {
    border-bottom: 3px solid #E67230;
}
/* Pagination */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #E67230;
    border-color: #d15813 #c85412 #bf5011;
}
.car-prev:hover, .car-next:hover {
    border: 1px solid #e67230;
    color: #e67230;
}
.menu-centered-pills #mainmenu .menu-item a,
.menu-centered-pills #mainmenu .menu-item a:visited {
    background-color: rgba(25, 25, 25, .9);
    color: #FFF;
}